---
---

@import "{{ site.theme }}";
.page-header ul {
display:inline-block;
margin-bottom:1rem;

background-color:rgba(255,255,255,0.08);
text-align: center;
list-style:none;
height:40px;
padding:0;
border-radius:5px;
border-color:rgba(255,255,255,0.2);
border-style:solid;
border-width:1px;
float:center;
}
.page-header li {
color:rgba(255,255,255,0.7);
 background-color:rgba(255,255,255,0.08);

 width:89px;
 float:left;
 border-right:1px solid rgba(255,255,255,0.2);
 display: table;
 height:40px
}
.page-header li:first-child a {
 border-radius:5px 0 0 5px
}
.page-header li:last-child a {
 border-radius:0 5px 5px 0
}
.page-header ul a {
 line-height:1;
 display:table-cell;
 vertical-align: middle;
 text-align:center;
 color:rgba(255,255,255,0.7);

}
.page-header ul a:hover,.page-header ul a:focus {
 color:rgba(255,255,255,0.8);
 text-decoration:none;
 background-color:rgba(255,255,255,0.2);
 border-color:rgba(255,255,255,0.3)
}
.page-header ul a:active {
}
strong {
 color:#222;
 font-weight:700
}
.page-header ul li+li+li+li+li {
 border-right:none;
 width:89px
}
